.contact-text{
    font-size: 60px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    padding-top: 20px;
    margin-top: 50px;
    color: white;
    border-top: 1px solid silver;
}

.contact-container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.contact-img{
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.3);
    border-radius: 50%;
    overflow: hidden;
    cursor: no-drop;
}

.img-box img{
    width:130px;
    transition: all .5s ease;
    cursor: no-drop;
}

.img-box img:hover{
    transform: scale(1.2);
}

.contact-stuff{
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* address */

.address{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    gap: 10px;
    border-bottom: 1px solid silver;
    border-left: 1px solid silver;
    border-radius: 10px;
    padding:20px 20px;
    position: absolute;
    top: 3%;
    left: 3%;
}

.address img{
    width: 45px;
}

.address-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

.address-text h2{
    color: orange;
    font-family: 'Times New Roman', Times, serif;
}

.address-text h4{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

/* number */


.number{
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    gap: 10px;
    border-bottom: 1px solid silver;
    border-left: 1px solid silver;
    border-radius: 10px;
    padding:20px 20px;
    position: absolute;
    left: -15%;
    bottom: 25%;
}

.number img{
    width: 45px;
}

.number-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

.number-text h2{
    color: orange;
    font-family: 'Times New Roman', Times, serif;
}

.number-text h4{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

/* email-address */



.email-address{
    width: 100%;
    width: fit-content;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    gap: 10px;
    border-bottom: 1px solid silver;
    border-left: 1px solid silver;
    border-radius: 10px;
    padding:20px 20px;
    position: absolute;
    left: -50%;
    bottom: -30%;
}

.email-address img{
    width: 45px;
}

.email-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

.email-text h2{
    color: orange;
    font-family: 'Times New Roman', Times, serif;
}

.email-text h4{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}


@media(max-width:450px){
    .contact-text{
        font-size: 30px;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 100;
        padding-top: 20px;
        margin-top: 20px;
        color: white;
        border-top: 1px solid silver;
    }
    
    .contact-container{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between ;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .contact-img{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .img-box{
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 8px 16px rgba(0,0,0,0.3);
        border-radius: 50%;
        overflow: hidden;
        cursor: no-drop;
    }
    
    .img-box img{
        width:60px;
        transition: all .5s ease;
        cursor: no-drop;
    }
    
    .img-box img:hover{
        transform: scale(1.2);
    }
    
    .contact-stuff{
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    /* address */
    
    .address{
        width: 250px;
        height: fit-content;
        display: flex;
        justify-content:flex-start;
        align-items: flex-start;
        gap: 10px;
        border-bottom: 1px solid silver;
        border-left: 1px solid silver;
        border-radius: 10px;
        padding:20px 20px;
        position: absolute;
        top: 3%;
        left: 15%;
    }
    
    .address img{
        width: 25px;
    }
    
    .address-text{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px;
    }
    
    .address-text h2{
        font-size: 13px;
        color: orange;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .address-text h4{
        font-family: 'Times New Roman', Times, serif;
        color: white;
        font-size: 13px;
    }
    
    /* number */
    
    
    .number{
        height: fit-content;
        width: 250px;
        display: flex;
        justify-content:flex-start;
        align-items: flex-start;
        gap: 10px;
        border-bottom: 1px solid silver;
        border-left: 1px solid silver;
        border-radius: 10px;
        padding:20px 17px;
        position: absolute;
        left: 15%;
        bottom:32%;
    }
    
    .number img{
        width: 25px;
    }
    
    .number-text{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px;
    }
    
    .number-text h2{
        font-size: 13px;
        color: orange;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .number-text h4{
        font-family: 'Times New Roman', Times, serif;
        color: white;
        font-size: 13px;
    }
    
    /* email-address */
    
    
    
    .email-address{
        height: fit-content;
        width: 250px;
        display: flex;
        justify-content:flex-start;
        align-items: flex-start;
        gap: 10px;
        border-bottom: 1px solid silver;
        border-left: 1px solid silver;
        border-radius: 10px;
        padding:20px 20px;
        position: absolute;
        left: 15%;
        bottom: -5%;
    }
    
    .email-address img{
        width: 25px;
    }
    
    .email-text{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px;
    }
    
    .email-text h2{
        color: orange;
        font-family: 'Times New Roman', Times, serif;
        font-size: 13px;
    }
    
    .email-text h4{
        font-family: 'Times New Roman', Times, serif;
        font-size: 13px;
        color: white;
    }
    
}