

footer{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-top-left-radius: 50px;
    border-top-right-radius:50px ;
    background-color: rgba(56, 6, 56, 0.856);
    padding: 10px 20px;
    padding-top: 30px;

}

.footer-box{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px 15px;
}

.first{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}

.first h1{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: orange;
}

.social{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.social img{
    cursor: pointer;
    transition: all .5s ease;
}

.social img:hover{
    transform: scale(1.2);
}

.first p{
    color: white;
    font-size: 14px;
}

.second , .third{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.second h1 , .third h1{
    font-size:25px;
    font-family: 'Times New Roman', Times, serif;
    color: orange;
}
.second h3 {
    color: white;
    font-size: 15px;
    font-weight: 400;
}

.third a{
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 1px;
}

.third a:hover{
    color: silver;
    border-bottom: 1px solid silver;
}

.forth{
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.forth a button{
    width: 130px;
    padding: 11px;
    border:  1px solid silver;
    background-color: transparent;
    border-radius: 25px;
    font-weight: 500;
    font-size: 13px;
    color: white;
    transition:  all .5s ease;
    cursor: pointer;
}

.forth a button:hover{
    background-color: blueviolet;
    border: 1px solid blueviolet;
}





.rights-reserved{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
    border-top: 1px solid silver;
    border-left: 1px solid silver;
    border-radius: 10px;
}

.rights-reserved p{
    color: white;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

.payment{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 17px;
}

.payment img{
    transition: all .5s ease;
    cursor: pointer;
}

.payment img:hover{
    transform: scale(1.3);

}

.paypal{
    width: 28px;
}

/* Second Footer */

.second-footer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.7);
}

.second-footer h3{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}


@media(max-width:450px){
    

footer{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 50px;
    border-top-right-radius:50px ;
    background-color: rgba(56, 6, 56, 0.856);
    padding: 10px 20px;
    padding-top: 30px;

}

.footer-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px 15px;
    gap: 15px;
}

.first{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.first h1{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: orange;
}


.social{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

.social img{
    cursor: pointer;
    transition: all .5s ease;
    width: 20px;
}

.social img:hover{
    transform: scale(1.2);
}

.first p{
    color: white;
    font-size: 12px;
}

.second , .third{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.second h1 , .third h1{
    font-size:15px;
    font-family: 'Times New Roman', Times, serif;
    color: orange;
}
.second h3 {
    color: white;
    font-size: 12px;
    font-weight: 400;
}

.third a{
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 1px;
    font-size: 13px;
}

.third a:hover{
    color: silver;
    border-bottom: 1px solid silver;
}

.forth{
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.forth a button{
    width: 130px;
    padding: 11px;
    border:  1px solid silver;
    background-color: transparent;
    border-radius: 25px;
    font-weight: 500;
    font-size: 13px;
    color: white;
    transition:  all .5s ease;
    cursor: pointer;
}

.forth a button:hover{
    background-color: blueviolet;
    border: 1px solid blueviolet;
}





.rights-reserved{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
    border-top: 1px solid silver;
    border-left: 1px solid silver;
    border-radius: 10px;
    position: relative;
}

.rights-reserved p{
    color: white;
    font-size: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    text-align: center;
}

.payment{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 14px;
    position: absolute;
    border-left: 1px solid silver;
    border-bottom: 1px solid silver;
    border-radius: 5px;
    top: -200px;
    right: 0px;
    padding: 7px 2px;
}

.payment img{
    transition: all .5s ease;
    cursor: pointer;
}

.payment img:hover{
    transform: scale(1.3);

}

.paypal{
    width: 16px;
}

/* Second Footer */

.second-footer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.7);
    padding: 0px 5px;
}

.second-footer h3{
    font-size: 11px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}
}